<div class="container mt-5">
    <h1 class="text-center mb-4">Tableau de Bord Admin</h1>
    <div class="row justify-content-center"> <!-- Centrer les colonnes -->
      <div class="col-md-4 mb-4"> <!-- Ajout d'un espace en bas -->
        <div class="card" (click)="goToUsers()">
          <div class="card-body text-center">
            <h3>Gestion Utilisateurs</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4"> <!-- Ajout d'un espace en bas -->
        <div class="card" (click)="goToStories()">
          <div class="card-body text-center">
            <h3>Gestion Stories</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4"> <!-- Ajout d'un espace en bas -->
        <div class="card" (click)="goToCategories()">
          <div class="card-body text-center">
            <h3>Gestion Catégories</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  