<div class="apropos-container">
  <div class="author d-lg-flex" id="about-section">
    <div
      class="bg-img"
      style="background-image: url('images/author_1.jpg')"
    ></div>
    <div class="text">
      <h3>Hello It's Jane</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis qui
        voluptates illum harum minima accusantium praesentium eos aut ab.
        Voluptate nulla illum ullam maxime consequuntur labore qui delectus,
        omnis saepe.
      </p>
      <p>
        Eos ratione repellat ea dignissimos iure ipsam sed dolore, excepturi id
        recusandae cumque sit, fugiat obcaecati necessitatibus nisi voluptate
        similique? Sed quae itaque nisi magnam amet aut maiores debitis
        temporibus.
      </p>
      <p>
        Iste repellendus libero cumque facilis sint quas quis temporibus quia
        veritatis reiciendis obcaecati, magni, dolorum aspernatur laborum, est,
        sequi rerum! Perspiciatis facilis commodi libero ipsa minima reiciendis
        rerum, facere quaerat.
      </p>

      div.social_

      <div class="mt-5">
        <span class="d-block text-black mb-4"
          >Jane Smith,
          <span class="text-muted">Book Author &amp; Publisher</span></span
        >
        <img src="images/signature.png" alt="Image" class="img-fluid w-25" />
      </div>
    </div>
  </div>
</div>
